@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center" >
            <div class="col-lg-6 mb-5">
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="col-12 pb-20">
                        <div class="alert alert-success">
                            @TempData["AlertMessage"]
                            <h6>Back to <Strong><a style="text-decoration: none" href="./Login">Login</a></Strong> page</h6>
                        </div>
                    </div>
                }
                <form method="post" class="border rounded-3">
                    <h4 class="mb-4 m-lg-3">Reset Password</h4>
                    <div asp-validation-summary="All" class="text-danger">
                    </div>
                    <div class="form-floating mb-3 col-lg-11 m-lg-3">
                        <input type="text" id="email" class="form-control" asp-for="Model.Email" placeholder="Email address">
                        <label for="email" asp-for="Model.Email">Email</label>
                    </div>
                    <div class="form-floating mb-3 col-lg-11 m-lg-3">
                        <input type="password" id="password" class="form-control" asp-for="Model.UserPassword" placeholder="Password">
                        <label for="password" asp-for="Model.UserPassword">Password</label>
                <span style="font-size: 11px;" class="text-center text-secondary">Passwords must contains 6 characters, digit (0-9), uppercase (A-Z), special characters.</span>
                    </div>
                    <div class="form-floating mb-3 col-lg-11 m-lg-3">
                        <input type="password" id="confirm" class="form-control" asp-for="Model.ConfirmPassword" placeholder="Re-type Password">
                        <label for="confirm" asp-for="Model.ConfirmPassword">Re-Type Password</label>
                    </div>

                    <div class="form-floating m-lg-3 mb-3">
                        <input asp-for="Code" type="hidden">
                        <input type="submit" value="Reset" class="btn px-4 btn-primary text-white">
                    </div>
                </form>
            </div>
        </div>
    </div>
</Section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
